<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.service.edu.mapper.CourseMapper">

    <sql id="columns">
        course.id,
        course.title,
        teacher.`name` as `teacher_name`,
        `subjectParent`.title as `subject_parent_title`,
        `subject`.title as `subject_title`,
        course.cover,
        course.lesson_num,
        course.price,
        course.`status`,
        course.view_count,
        course.buy_count,
        course.gmt_create
    </sql>
    <sql id="tables">
        edu_course course
        left join edu_teacher teacher on course.teacher_id = teacher.id
        left join edu_subject `subjectParent` on course.subject_parent_id = `subjectParent`.id
        left join edu_subject `subject` on course.subject_id = `subject`.id
    </sql>

    <select id="selectPageByCourseQueryVo" resultType="com.kk.service.edu.pojo.vo.CourseReturnVo">
        select
        <include refid="columns"/>
        from
        <include refid="tables"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectCoursePublishById" resultType="com.kk.service.edu.pojo.vo.CoursePublishVo">
        select
        <include refid="columns"/>
        from
        <include refid="tables"/>
        where course.id = #{id}
    </select>
    <!--
        SQL 语句：
            select
                course.id,
                course.title,
                teacher.`name`,
                `subjectParent`.title as `subject_parent_title`,
                `subject`.title as `subject_title`,
                course.cover,
                course.lesson_num,
                course.price,
                course.`status`,
                course.view_count,
                course.buy_count,
                course.gmt_create
            from edu_course course
            left join edu_teacher teacher on course.teacher_id = teacher.id
            left join edu_subject `subjectParent` on course.subject_parent_id = `subjectParent`.id
            left join edu_subject `subject` on course.subject_id = `subject`.id
            where
                subject_id = '1571386290452144130'
            and
                subject_parent_id = '1571386290351480833'
            and
                course.title like '%彭%'
            and
              teacher_id = 7
    -->
</mapper>